*{
    margin: 0;
    padding: 0;
}

p{
    color: whitesmoke;
    padding: 10px 30px;
    font-size: 26px;
    font-weight: 900;
    text-align: justify;
}

#headTest{
    font-size: 100px;
    text-align: center;
    color: red;
    /* text-shadow: 7px 11px blue; */

}
html,body{
    height: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-image: url(./img/backFon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}