*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-image: url(./img/backFon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#headTest{
    text-align: center;
}

#playrContainer{
    /* margin: 30px; */
    /* position: fixed;
    top: 100px;
    right: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
    width: 40%;
    overflow: hidden;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-image: url(./mp3/Instasamka\ -\ На\ Титанике\ \(feat.\ Лолита\).png)
}

#trackHeader{
    padding: 1% 10%;
    color: white;
}

#trackLine{
    width: 94%;
    height: 10px;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    opacity: 0.6;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
}

#filledTrackLine{
    margin: 2px; 
    width: 0;
    height: 6px;
    border-radius: 20px;
    background-color: white;
}


button{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 100px black;
    outline:  none;
    border: none;
    margin-bottom: 10px;
    width: 30%;

}

button:hover{
    background-color: whitesmoke;
    box-shadow: 0 0 3px 5px whitesmoke;
}

#volumeLine{
    width: 30%;
    height: 10px;
    overflow: hidden;
    border-radius: 20px;
    opacity: 0.6;
    background-color: transparent;
    border: 1px solid white;
    cursor: pointer;
    margin-bottom: 10px;
}

#filledVolumeLine{
    margin: 2px; 
    width: 100px;
    height: 6px;
    border-radius: 20px;
    background-color: white;
}

